.iframe-wrapper {
    position: relative;
    aspect-ratio: 16 / 6;
    filter: drop-shadow(0 0 4px rgb(0 0 0 / 50%));

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        clip-path: inset(0% 0% 0% 0% round 20px);
    }
}

#tomorrow {
    background-image: url(https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExcjduZmt6OGRqMHNpNnpxb2x4d3B0OXYydTk0amczdHhpeHVxeDAzOCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3oKIPstwMF15FghbYQ/giphy.webp);
    background-repeat: no-repeat;
}

/* body {
    background-image: url(bg-morning.png);
} */
